/* Project (Common) */
.page--project {

	img {
		max-width: 100%;
	}

	.slice--project {

		.cc {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}

	.slice--project-intro {
		background-color: #f0f0f0;

		.slice_image {
			@media (min-width: $desk-min) {
				float: right;
				width: 50%;
			}
		}

		.slice_text {
			margin-top: 30px;
			color: $primary-color;
			@media (min-width: $desk-min) {
				float: left;
				width: 50%;
			}

			h2 {
				margin-top: 5px;
				color: $alt-color;
				font-size: 48px;
			}

			.slice_snippet {
				margin-top: 18px;
			}

			.slice_link {
				display: block;
				margin-top: 18px;
				text-transform: uppercase;
				font-family: $heading-font;
				font-size: 24px;
			}
		}
	}

	.slice--project {
		text-align: center;
		color: $primary-color;

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
			@media (max-width: $mob-max) {
				margin-bottom: 20px;
			}
			&.screenshot {
				width: 800px;
			}
			&.screenshot--small {
				width: 550px;
			}
			&.screenshot--snb {
				box-shadow: 0 5px 20px rgba(0,0,0,0.3);
				border: 1px solid #DADADA;
			}
			&.diagram--sw {
				width: 700px;
			}
			&.diagram--wide {
				width: 900px;
			}
			&.img--for-desktop {
				@media (max-width: $mob-max) {
					display: none;
				}
			}
			&.img--for-mobile {
				@media (min-width: $desk-min) {
					display: none;
				}
			}
		}

		h2 {
			font-size: 60px;
			margin-bottom: 30px;
			@media (max-width: $mob-max) {
				font-size: 42px;
				margin-bottom: 20px;
			}
		}

		h3 {
			font-size: 44px;
			margin-bottom: 20px;
			@media (max-width: $mob-max) {
				font-size: 36px;
			}
		}

		h4 {
			font-size: 32px;
			margin-bottom: 18px;
		}

		p {
			text-align: left;
			max-width: 720px;
			line-height: 22px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;

			.text--large {
				font-size: 20px;
				line-height: 28px;
				font-weight: 600;
				@media (max-width: $mob-max) {
					font-size: 18px;
					line-height: 24px;
				}
			}

			.text--code {
				font-size: 13px;
				font-family: 'Consolas', 'Droid Sans Mono', monospace;
				background-color: #f3f3f3;
				padding-left: 3px;
				padding-right: 3px;
				word-wrap: break-word;
			}

			a {
				font-weight: 600;
				display: inline-block;
			}

			&.p--center {
				text-align: center;
			}
		}

		.spacer {
			height: 40px;
		}

		&:after {
			display: block;
			content: '';
			width: 600px;
			max-width: 70%;
			background-color: $primary-color;
			height: 2px;
			margin: 0 auto;
			opacity: 0.5;
		}
	}
}

.project-detail-footer {
	text-align: center;
	.cc {
		padding-top: 70px;
		padding-bottom: 70px;
		a {
			font-family: $heading-font;
			font-size: 24px;
		}
	}
}

/* Project (Psalmist) */
.page--project--psalmist {
	.slice--project-intro {
		.slice_text {
			h2 {
				font-size: 72px;
			}
		}
	}
}

/* Project (N2) */
.page--project--n2 {
	.slice--project-intro {
		.slice_image {
			@media (min-width: $desk-min) {
				width: 60%;
			}
		}
		.slice_text {
			margin-top: 15px;
			@media (min-width: $desk-min) {
				width: 40%;
			}
		}
	}

	.slice--project {
		ol, ul {
			max-width: 720px;
			text-align: left;
			padding-left: 30px;
			font-size: 14px;
			line-height: 22px;
			margin: 0 auto;
		}
		.cc>ol {
			font-weight: 600;
			ul {
				font-weight: initial;
				list-style-type: disc;
			}
		}
	}
}

/* Project (KIT) */
.page--project--kit {
	.slice--project-intro {
		.slice_text {
			@media (min-width: $desk-min) {
				margin-top: 120px;
			}
		}
	}
	.slice--project {
		.img--kit-phone {
			max-height: 400px;
		}
		.images-row {
			text-align: center;
			img {
				display: inline;
				margin-left: 20px;
				margin-right: 20px;
			}
		}
	}
}
