<div class="page--about">
	<div class="slice slice--about">
		<div class="cc">
			<div class="snapshot"></div>
			<h1>About Me</h1>
			<hr>
			<p>
				Hi, my full name is Michael Jonathan. I am currently located at Melbourne, Australia.<br>
				<br>
				In late 2013, I completed my Bachelor of Science degree with a major in Software Systems from the University of Melbourne. I am currently working as web developer.<br>
				<br>
				I enjoy web development, good design and mixing music.<br>
				<br>
				Please feel free to <mj-email>get in touch</mj-email> with me.
			</p>
		</div>
	</div>
</div>