<div class="page--home">

	<div class="slice slice--home-hi">
		<div class="cc">
			<h1>Hi.</h1>
			<hr>
			<p>
				My name is Michael Jonathan,<br>
				I'm a Melbourne-based junior web/software developer.
			</p>
		</div>
	</div>
	
	<div class="slice slice--home slice--home-psalmist">
		<div class="cc">
			<div class="slice_image">
				<img src="/images/projects/psalmist/image-main.png" alt="">
			</div>
			<div class="slice_text">
				<p class="preheading">Free Time Project</p>
				<h2>First Take On Ember</h2>
				<p class="slice_snippet">
					As web applications are expected to become more complex and handle more user interactivity, jQuery will not suffice. I've been playing around with Angular.js to some extent, but I'd also like to see one popular alternative, Ember.js.<br/>
					<br>
					I decided give Ember a shot by creating Psalmist, a simple web app. It’s surprisingly much more opinionated about everything, and forces clear separation of concerns between components.
				</p>
				<a class="slice_link" ui-sref="projects.detail({projectId:'psalmist'})">More on Psalmist <i class="fa fa-angle-right"></i></a>
			</div>
		</div>
	</div>
	
	<div class="slice slice--home slice--home-n2">
		<div class="cc">
			<div class="slice_image">
				<img src="/images/projects/n2/image-main.png" alt="">
			</div>
			<div class="slice_text">
				<p class="preheading">University Project: Web App</p>
				<h2>N2: University Notices Version 2</h2>
				<p class="slice_snippet">
					N2 is a user-customizable web-based announcement board designed for university students.<br>
					<br>
					This web app was one of my final year projects, done in a team of three. It’s built with Django (a Python web framework), MySQL database and presents an intuitive web-based user interface made with HTML, CSS and JavaScript.
				</p>
				<a class="slice_link" ui-sref="projects.detail({projectId:'n2'})">More on N2 <i class="fa fa-angle-right"></i></a>
			</div>
		</div>
	</div>
	
	<div class="slice slice--home slice--home-kit">
		<div class="cc">
			<div class="slice_image">
				<img src="/images/projects/kit/image-main.png" alt="">
			</div>
			<div class="slice_text">
				<p class="preheading">University Project: Android App</p>
				<h2>KIT: Keep In Touch</h2>
				<p class="slice_snippet">
					KIT (Keep-In-Touch) is social emergency alert system for mobile devices. Essentially a simple social network, KIT is capable of broadcasting and receiving both daily updates and emergency help requests to relatives. Devices communicate through a back-end server.<br>
					<br>
					It is written in Android-native Java, and tested with Mockito and Robotium.
				</p>
				<a class="slice_link" ui-sref="projects.detail({projectId:'kit'})">More on KIT <i class="fa fa-angle-right"></i></a>
			</div>
		</div>
	</div>

</div>
