<div class="slice slice--project-li">
	<span ui-sref="projects.detail({projectId:'psalmist'})">See Psalmist</span>
</div>
<div class="slice slice--project-li">
	<span ui-sref="projects.detail({projectId:'n2'})">See N2</span>
</div>
<div class="slice slice--project-li">
	<span ui-sref="projects.detail({projectId:'kit'})">See KIT</span>
</div>
<div class="slice slice--project-li">
	<span ui-sref="projects.detail({projectId:'tilt380'})">See tilt380</span>
</div>
<div class="slice slice--project-li">
	<span ui-sref="projects.detail({projectId:'i-am-hazard'})">See I am Hazard</span>
</div>
